@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "variables";

@import "typography";

.logo {
  background: #333;
  color: #eee;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 1.4em;
  line-height: 1;
  font-size: 1.2em;
  line-height: 1;
  p {
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.08em;
  }
}

.container {
  @include outer-container;
}

.btn {
  @include button;
}
.wrapper-hero {
  padding-top: 2em;
  padding-bottom: 1.4em;
  border-bottom: 1em solid $color-p2;
  margin-bottom: 2em;

  .social {
    font-size: 1.5em;
    margin-top: 0.7em;
  }
}

.container-hero {
  @include clearfix;
  .logo {
    float: left;
  }
  .content {
    h2 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 0.2em;
    }
    @include span-columns(4);
    float: right;
    font-size: 0.7em;
  }
}

.posts { @include outer-container; }
.post {
  @include span-columns(12);
  position: relative;
  padding: 2em 1em;
  background: $color-p2;
  min-height: 15em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;

  h2 {
    font-weight: 300;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1;
  }
}

.date {
  font-family: $font-sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  position: absolute;
  top:2em;
  right: 100%; 
  background: #333;
  color: white;
  width: 5.4em;
  padding: 0.3em 0.6em;
  font-weight: bold;
  line-height: 2.6;
  text-align: right;
}

.info {
  @include shift(7);
  @include span-columns(5);

  @include breakpoint($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
  margin-top: 3em;
  margin-bottom: 3em;
}

.container-footer {
  @include outer-container;
  margin-top: 2em;
  margin-bottom: 3em;
  padding-top: 1em;
  border-top: 1em solid $color-p2;
  .content { @include span-columns(12); }
  text-align: center;
  h2 {
    color: $color-p2;
  }
}

.social {
  text-align: center;
  li { 
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
